{% extends 'userhome.html' %}




{% block page %}
<center>

<h2>Add Products Here!!!</h2>
<font color="orange">{{output}}</font>
<form enctype="multipart/form-data" method="post" action={{curl}}user/addproduct/   >
{% csrf_token %}
<table cellspacing="10">
<tr>
<td>Title</td>
<td>
<input type="hidden" name="uid" value={{cunm}}  />
<input type="text" name="title" placeholder="Enter title"/>
</td>
</tr>
<tr>
<td>Category</td>
<td>
<select style="width:250px;" name="cnm">
<option>Select category</option>
{% for subcat in sclist %}
<option>{{subcat.2}}</option>
{% endfor %}
</select>
</td>
</tr>
<tr>
<td>Price</td>
<td>
<input type="text" name="price" placeholder="Enter price"/>
</td>
</tr>
<tr>
<td>Description</td>
<td>
<textarea cols="31" rows="5" name="description" placeholder="Enter description"></textarea>
</td>
</tr>
<tr>
<td>Mobile</td>
<td>
<input type="text" name="mobile" placeholder="Enter mobile"/>
</td>
</tr>
<tr>
<td>Product Icon</td>
<td>
<input type="file" name="picon"/>
</td>
</tr>
<tr>
<td>Enable Bidding</td>
<td>
<input type="checkbox" name="bstatus" value="1"/>
</td>
</tr>
<tr>
<tr>
<td>
<input type="submit"  value="Add Product" /> 
</td>
</tr>
</table>
</form>

</center>
{% endblock %}
