{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Bidding Web Solution</title>
<link href="{% static 'images/logo.jpeg' %}" rel="icon" >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.dropotron-1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.slidertron-1.1.js' %}"></script>
<script type="text/javascript">
	$(function() {
		$('#menu > ul').dropotron({
			mode: 'fade',
			globalOffsetY: 11,
			offsetY: -15
		});
	});
</script>
</head>
<body>
<div id="wrapper">



	<div id="header">
{% block header %}
		<div id="logo">
			<h1>
				<a href="#">Bidding Web Solution</a></h1>
		</div>
		<div id="slogan">
			<h2>Buy & Sell Anything</h2>
		</div>
{% endblock %}	
	</div>

	<!-- header ends -->	


	<div id="menu">
{% block menu %}	
		<ul>
<li class="first">
<a href={{curl}} >Home</a>
</li>	
<li><a href={{curl}}about/ >About</a></li>	
<li><a href={{curl}}contact/ >Contact</a></li>	
<li>
<span class="opener">Service<b></b></span>
	<ul>
		<li><a href={{curl}}service/ >Latest News</a></li>
		<li><a href="#">Latest Events</a></li>
	</ul>
</li>
<li><a href={{curl}}register/ >Register</a></li>	
<li class="last"><a href={{curl}}login/ >Login</a></li>	
</ul>
{% endblock %}

<br class="clearfix" />
</div>

<!-- menu ends -->	

{% block slider %}
<script type="text/javascript">
	$(function() {
		$('#slider').slidertron({
			viewerSelector: '.viewer',
			indicatorSelector: '.indicator span',
			reelSelector: '.reel',
			slidesSelector: '.slide',
			speed: 'slow',
			advanceDelay: 4000
		});
	});
</script>
	<div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					<img height="230" width="870" src="{% static 'images/logo.jpeg' %}" alt=""  />
				</div>
				<div class="slide">
					<img src="{% static 'images/slide02.jpg' %}" alt="" />
				</div>
				<div class="slide">
					<img src="{% static 'images/slide03.jpg' %}" alt="" />
				</div>
				<div class="slide">
					<img src="{% static 'images/slide04.jpg' %}" alt="" />
				</div>
				<div class="slide">
					<img src="{% static 'images/slide05.jpg' %}" alt="" />
				</div>
			</div>
		</div>
		<div class="indicator">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</div>
	</div>
{% endblock %}
<!-- slider ends -->

	<div id="page">
		
{% block page %}
		<div id="content">
		{% block content %}	
			<div class="box">
				<h2>Welcome to Bidding web solution</h2>
				<!-- write your content here -->

			</div>
		{% endblock %}
			<br class="clearfix" />
		</div>
		<!-- content ends -->



		<div id="sidebar">
		{% block sidebar %}	
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Gmail</a></li>
					<li class="last"><a href="#">LinkedIn</a></li>
				</ul>
			</div>
		{% endblock %}	
		</div>

		<!-- sidebar ends -->
{% endblock %}
		<br class="clearfix" />
	</div>


	<!-- page ends -->

</div>

<!-- wrapper  ends -->	



<div id="footer">
{% block footer %}
<center>
<h1>All Right Reserved &copy; 2019-2020 , Design By Django1112</h1>	
</center>
{% endblock %}
</div>

<!-- footer ends -->	

</body>
</html>
